.category-type-1 .item .item-inner {
    margin-bottom: 30px;
}

.category-type-1 .slider-carousel .item .item-inner:last-child {
    margin-bottom: 0;
}

.category-type-1 .image-category a {
	position: relative;
	display: block;
	text-align: center;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.category-type-1 .image-category a span {
    position: absolute;
    width: 17px;
    top: -11px;
    bottom: -11px;
    border-top: 1px solid #141414;
    border-bottom: 1px solid #141414;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
}

.category-type-1 .image-category a span.left_border {
    left: -11px;
}

.category-type-1 .image-category a span.left_border::before {
    border-left: 1px solid #141414;
    content: "";
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.category-type-1 .image-category a span.left_border::after {
    border-left: 1px solid #141414;
    content: "";
    height: 17px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 1px;
}

.category-type-1 .image-category a span.right_border {
    right: -11px;
}

.category-type-1 .image-category a span.right_border::before {
    border-left: 1px solid #141414;
    content: "";
    height: 17px;
    right: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.category-type-1 .image-category a span.right_border::after {
    border-left: 1px solid #141414;
    content: "";
    height: 17px;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 1px;
}

.category-type-1 .item-inner:hover .image-category a span {
    opacity: 1;
    visibility: visible;
}

.category-type-1 .item-inner .image-category a .img-placeholder {
    transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
}

.category-type-1 .item-inner:hover .image-category a .img-placeholder {
    transform: scale(1.03,1.03);
    -ms-transform: scale(1.03,1.03);
    -webkit-transform: scale(1.03,1.03);
}

.category-type-1 .content-category {
    text-align: center;
}

.category-type-1 .content-category a {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
	color: #141414;
}

.category-type-1 .content-category a:hover {
    text-decoration: underline;
}

.category-type-1 .wrapper-owl-item {
    margin: -11px;
    padding: 11px;
}

.category-type-1 .owl-stage-outer {
    overflow: visible;
}